.markdown-preview-view h1 {
    font-size: 1.5em;
    letter-spacing: 0em;
}

.markdown-preview-view h2 {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--background-modifier-border);
    font-size: 1.4em;
    letter-spacing: 0em;
}

.markdown-preview-view h3 {
    margin-top: 24px;
    font-size: 1.2em !important;
}

.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
    font-size: 1em;
    letter-spacing: 0em;
}

.cm-formatting-header-4,
.cm-formatting-header-5 {
    color: var(--text-faint);
}

/* 设置行距 */
html,
body,
input,
button,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian {
    line-height: 1.8;
}

/* 侧边栏字体颜色 */
.nav-file-title,
.nav-folder-title,
.nav-folder-collapse-indicator,
.tree-item-self,
.tree-item-self .collapse-icon {
    color: var(--text-normal);
}

.nav-file-title.is-active,
.nav-file-title.is-active:hover {
    background-color: var(--item-active-backgroud) !important;
    color: #ffffff !important;
}

/* 搜索结果显示个数 */
.tree-item-flair:not(.tag-pane-tag-count) { /* Search counts */
    display: block;
}

/* 各种图标的样式 */
.view-header-icon,
.workspace-tab-header,
.nav-action-button,
.side-dock-ribbon-tab,
.side-dock-ribbon-action,
.view-action {
    background:transparent;
    border-radius: 5px !important;
    color:var(--text-normal);
    opacity:1;
    transition:opacity 0.1s ease-in-out;
    cursor:var(--cursor);
}

/* 设置图标上下居中，不重要 */
.workspace-tab-header-container {
    padding: 2px 0;
}

.workspace-tab-container-inner {
    padding-bottom: 2px;
    margin-bottom: -2px;
}

/* 设置图标的 hover / active 样式 */
/* tab header 为直角矩形 */
.workspace-tab-header {
    /* background-color: #e7e8e8 !important; */
    border-radius: 0 !important;
    padding-right: 1px;
}

/* 第一个元素左侧遍有圆角 */
.workspace-tab-header:first-child {
    border-radius: 5px 0 0 5px !important;
}

/* 最后一个元素右侧边有圆角 */
.workspace-tab-header:last-child {
    border-radius: 0 5px 5px 0 !important;
    padding-right: 0;
}

/* 如果只有一个元素，那么所有都是圆角 */
.workspace-tab-header:first-child:nth-last-child(1) {
    border-radius: 5px !important;
}

/* tab header inner 为圆角矩形 */
.workspace-tab-header-inner {
    padding: 3px 7px;
    border-radius: 5px !important;
    transition: none !important;
}

/* 最外层 hover 的时候，里层除了 active 的都变浅色，active 的变深色 */
.workspace-tab-header-container:hover .workspace-tab-header {
    background-color: var(--icon-background-light) !important;
}

/* active 的变深色 */
.workspace-tab-header-container:hover .workspace-tab-header.is-active .workspace-tab-header-inner {
    background:var(--icon-background-dark) !important;
}

.workspace-tab-header-inner:active {
    background:var(--icon-background-dark) !important;
}

/* 选中之后的颜色 */
.workspace-tab-header.is-active .workspace-tab-header-inner {
    background:var(--icon-background-light) !important;
    color:var(--text-normal);
}

.view-action:hover,
.view-header-icon:hover,
.nav-action-button:hover,
.workspace-tab-header:hover,
.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover {
    background:transparent;
    color:var(--text-normal);
}

.titlebar-text {
    display:block;
    color:var(--text-normal);
}

.titlebar-button-container.mod-left {
    display: none;
}

.titlebar:hover .titlebar-button-container.mod-left {
    display: block;
}

.tree-item-self:hover .tree-item-flair {
    color:var(--text-accent);
}

.markdown-preview-view blockquote {
    border:solid var(--quote-opening-modifier);
    border-width:0px 0px 0px 3px;
    background-color:var(--blockquote-background);
    color:var(--text-normal);
    opacity: 0.9;
    padding:7px calc(var(--nested-padding) / 2);
    margin-inline-start:var(--nested-padding);
}

/* Fill color for nodes */
.graph-view.color-fill {
    color:var(--text-normal);
}

/* Line color */
.graph-view.color-line {
    /* color:var(--background-modifier-border); */
    color: var(--text-faint);
}

.graph-controls {
    background:var(--background-secondary);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    left:10px;
    padding:5px 20px 10px 5px;
    border-radius:5px;
}

.mod-root .workspace-leaf-content[data-type='localgraph'] .graph-controls, .mod-root .workspace-leaf-content[data-type='graph'] .graph-controls {
    top: 50px;
}

.view-header {
    height: 36px;
}

.view-header-title,
.file-embed-title,
.markdown-embed-title {
  letter-spacing:0em;
  text-align:left;
  font-size:21px;
  font-weight:var(--bold-weight);
  height: 35px;
  line-height: 35px;
}

/* 设置笔记标题的边框及阴影 */
.view-header {
    border-bottom: 1px solid var(--background-modifier-border) !important;
    /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15); */
}

/* .nav-file-title:hover {
    background-color: var(--background-tertiary) !important;
} */

.markdown-preview-view code,
.cm-s-obsidian pre.HyperMD-codeblock,
.cm-s-obsidian span.cm-inline-code {
    color: var(--code-color);
    font-size: 0.85em !important;
}

.cm-s-obsidian span.cm-hmd-internal-link,
.cm-s-obsidian span.cm-url,
a {
    color: var(--link-color);
}

/* .external-link,
.minimal-theme.links-ext-on .external-link,
.markdown-preview-view .internal-link,
.minimal-theme.links-int-on .markdown-preview-view .internal-link,
.cm-s-obsidian span.cm-url {
    text-decoration: none;
} */

.external-link:hover,
.minimal-theme.links-ext-on .external-link:hover,
.markdown-preview-view .internal-link:hover,
.minimal-theme.links-int-on .markdown-preview-view .internal-link:hover,
.cm-s-obsidian span.cm-url:hover {
    text-decoration: underline;
    color: var(--link-color);
}

/* 脚注不显示顶部分割线 */
.footnotes > hr {
    display: none;
}

.markdown-preview-view img {
    display: block;
    margin: auto;
}


/* --------------- */
/* Dark mode images  */

.theme-dark .markdown-preview-view img {
    opacity:1;
    transition:none;
}
.theme-dark .markdown-preview-view img:hover {
    transition:none;
}

.theme-light {
    --link-color: #1069c9;
    --icon-background-light: #e7e8e8;
    --icon-background-dark: #c0c1c1;
    --code-color: #d73a49;
    --blockquote-background: #fafafa;
    --item-active-backgroud: #0063e1;
    --calendar-active-text: #ffffff;
}

.theme-dark {
    --background-primary: #1e1e1e;
    --background-secondary: #252526;
    --link-color: #2997ff;
    --icon-background-light: #323435;
    --icon-background-dark: #656768;
    --code-color: #f0976b;
    --blockquote-background: #2a2a2a;
    --item-active-backgroud: #0058d0;
    --calendar-active-text: #333333;
}

.is-flashing {
    box-shadow: none;
    /* background-color: transparent; */
}

div {
    transition: background-color 0.3s ease;
}

/* Calendar Plugin */
#calendar-container {
    --color-background-day-active:var(--text-accent);
    --color-background-day-hover:var(--background-tertiary);
    --color-dot:var(--text-muted);
    --color-text-title:var(--text-normal);
    --color-text-heading:var(--text-muted);
    --color-text-day:var(--text-normal);
    --color-text-today:var(--text-normal);
    --color-arrow:var(--text-muted);
    --color-background-day-empty:transparent;
    /* --color-background-weekend: var(--icon-background-light); */
}

#calendar-container .nav.svelte-1elemso {
    margin-bottom: 0.3em;
}

#calendar-container {
    padding: 7px;
}

#calendar-container .day {
    transition: none;
}

#calendar-container .day:active {
    color: var(--text-normal);
}

#calendar-container .today:active {
    color: var(--text-accent);
}

#calendar-container .dot {
  margin:0;
}

#calendar-container .title {
  padding-left: 5px;
  font-size:var(--font-normal);
}

#calendar-container .month {
    margin-right: 3px;
    font-weight:700;
}

#calendar-container .today {
  color:var(--text-accent);
  font-weight:600;
}

#calendar-container .today .dot {
  fill:var(--text-accent);
}

#calendar-container .active .dot {
    stroke: var(--calendar-active-text);
    fill: var(--calendar-active-text);
}

#calendar-container .active .task {
    stroke: var(--calendar-active-text);
}

#calendar-container .active {
    color: var(--calendar-active-text);
    background-color: var(--text-normal);
    transition: none;
}

#calendar-container .active.today,
#calendar-container .week-num.active {
  background-color:var(--color-background-day-active);
}

#calendar-container .day:hover,
#calendar-container .week-num:hover {
  background: none;
}

#calendar-container .day:hover.active {
    background-color: var(--text-normal);
}

#calendar-container .day:hover.active.today,
#calendar-container .week-num:hover.active {
    background-color:var(--color-background-day-active);
}

#calendar-container tr th {
    padding-top: 7px;
    font-weight: 700;
}

#calendar-container tr td {
    padding: 2px 0 0 0;
    border: none;
    border-radius: 0;
}

#calendar-container tr td:first-child:nth-last-child(8) {
    border-right: 1px solid var(--text-faint);
}
